body{
    display: grid;
}

*{
margin:0px;
padding: 0px;
font-family:D-DIN-Bold;
}

@font-face {
    font-family:D-DIN-Bold;
    src: url(D-DIN-Bold.otf);
}

/*          Nav Section          */



.nav-section{
    background-color:transparent;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.nav-main-container{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 1.3vmax;
}

.nav-content1{
    display: flex;
    align-items: center;
    gap: 1vmax;
    text-align: center;
}


.nav-content1 h1{
    letter-spacing: 0.2em;
    font-size: inherit;
}


.nav-content1 p{
    margin: 30px 10px;

}

.nav-content2{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    gap: 30px;
}


/*       Upcoming Launch Section    (Starlink)   */


.upcoming-launch-section{
    background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/Launch_Page_Starlink1_vertical_18_DESKTOP_c851b30656.jpg);
    background-size: cover;
    height:53vmax;
    background-position: center center;
    position: relative;
    z-index: 0;
    order: -4;
}

.upcoming-launch-container{
    color: white;
    font-size: 2.5vmax;
    width: 32%;
    position: absolute;
    bottom: 5vmax;
    left: 2vmax;
}


.upcoming-launch-container p{
    font-size: 1.5vmax;
}

.upcoming-launch-button{
    padding: 1.2vmax;
    width: 12vmax;
    position: relative;
    background-color: transparent;
    border: 2px solid white;
    color:white;
}


/*       Recent Launch Section      (Transporter-7) */ 


.recent-launch-section{
    background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/Trans_7_OS_56_0469_Desktop_e7dc1ccff2.jpg);
    background-size: cover;
    height:53vmax;
    background-position: center center;
    position: relative;
    z-index: 0;
    order: -2;
    display: none;
}

.rewatch-container{
    color: white;
    font-size: 2.5vmax;
    width: 32%;
    position: absolute;
    bottom: 5vmax;
    left: 2vmax;
}


.rewatch-container p{
    font-size: 1.5vmax;
}



.rewatch-button{
    position: relative;
    padding: 1.2vmax;
    width: 12vmax;
    background-color:transparent;
    border: 2px solid white;
    color:white;
    cursor: pointer;
}



















/*       Menu Desplegable       */

#menu-bar{
    display: flex;
    flex-direction: column;
    text-align: right;
    color: white;
    padding: 20px 20px 0px 0px;
    background-color: #000;
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    order:-5;
}

.slide-menu, .menu-movil {
    display: flex;
    z-index: 3;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    height: 36.6rem;
    color: white;
    width: 16rem;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 3s ease-in; 
    display: none;
}

.slide-menu a, .menu-movil a{
    margin: 0.5rem;
    border-bottom:1px solid grey;
    text-align: right;
    width: 80%;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
}

.slide-menu span{
    border: none;
    cursor: pointer;
    width: min-content;
}

#fa-solid:nth-child(n){
    display: none;
}


.fa-solid{
    cursor: pointer;
}

#fa-solid:checked + .slide-menu{
    display: flex;
}

#fa-solid:checked + .starship-section{
    filter: brightness(0.5);
}


.slide-menu a:hover{
    color: #8B939B;
    transition: all 0.5s ease;
}

/*          Starship Section          */

.starship-section{
    background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/STARSHIP_Testflight_DESKTOP_2b3bea613a.jpg);
    position: relative;
    background-size: cover;
    height: 53vmax;
    background-position: center center;
    z-index: 0;
    order: -5;
}

.starship-content-container p{
    font-size: 20px;
}

.starship-content-container{
    position: absolute;
    bottom: 7vmax;
    left: 3vmax;
    color: white;
    font-size: 3vmax;
}
.starship-button{
    position: relative;
    padding: 1.2vmax;
    width: 12vmax;
    background-color: transparent;
    border: 2px solid white;
    color:white;
}


/*         Completed Mission Section       (CRS-27)      */

.completed-mission-section{
    background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/HOMEPAGE_CRS_27_Desktop_fcc63e2c6c.png);
    position: relative;
    background-size: cover;
    height: 53vmax;
    background-position: center center;
    z-index: 0;
    order: -3;
}

.completed-mission-container{
    position: absolute;
    bottom: 7vmax;
    left: 3vmax;
    color: white;
    font-size: 3vmax;
    width: 50%;
}

.completed-mission-container p{
    font-size: 20px;
}

.completed-mission-button{
    position: relative;
    padding: 1.2vmax;
    width: 12vmax;
    background-color: transparent;
    border: 2px solid white;
    color:white;
}



/*      Starship Lunar Section        */

.starship-lunar-section{
    background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/Homepage_Desktop_5ebdeb0c6c.webp);
    position: relative;
    background-size: cover;
    height: 53vmax;
    background-position: center center;
    z-index: 0;
    order: -1;
}

.starship-lunar-content-container{
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 3vmax;
    bottom: 7vmax;
    left: 3vmax;
}

.starship-lunar-button{
    padding: 1.2vmax;
    width: 12vmax;
    background-color: transparent;
    border: 2px solid white;
    color:white
}

.starship-lunar-content-container p{
    width: 38%;
}

/*           Footer           */

.footer-section{
    height: 6rem;
    background-color: #000;
    font-size: 0.8vmax;
}


.footer-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
    gap: 2vmax;
    height: inherit;
    margin: 0px auto;
    color: #979797;
}

.footer-container a{
    text-decoration: none;
    color:white;
}

.footer-container a:hover{
    color:#8b939b;
}




/*       Animation section       */


.button-container{
    position: relative;
    width: min-content;
    height: min-content;
}

.rewatch-button:hover + .background-animation,
.upcoming-launch-button:hover + .background-animation,
.completed-mission-button:hover + .background-animation,
.starship-button:hover + .background-animation,
.starship-lunar-button:hover + .background-animation{
    height: 100%;
}

.rewatch-button:hover, .starship-button:hover, .upcoming-launch-button:hover, .starship-lunar-button:hover,
.completed-mission-button:hover{
    color: black;
    transition: all 0.4s ease;
}

.background-animation{
    background-color: white;
    position: absolute;
    width: 12vmax;
    height:  0%;
    bottom: 0;
    transition: all .3s ease;
    z-index: -1;
}

.nav-content1 div, .shop-animation{
    position: relative;
}

.nav-animation{
    content:"";
    background-color: white;
    color: white;
    position: absolute;
    z-index: 2;
    width: 0%;
    height: 2px;
    margin-bottom: -5px;
    bottom: 0;
    left: 0;
}

.nav-content1 a:nth-child(n), .shop-animation a{
    text-decoration: none;
    color: white;
}

.nav-content1 a:nth-child(n):hover + .nav-animation, .shop-animation a:hover + .nav-animation{
    width: 100%;
    transition: all 0.3s ease;
}

.starship-down{
    position: absolute;
    color: white;
    bottom: 10%;
    left: 50%;
    font-size: 2vmax;
    rotate: 90deg;
    animation-iteration-count: infinite;
    animation-name: down;
    animation-duration: 3s;

}

@keyframes down {
0% {opacity: 1; bottom: 70px;}
100% {opacity: 0; bottom: 15px;}
}



.starship-content-container h4, .upcoming-launch-container h1, .rewatch-container h1,
.starship-lunar-content-container p, .completed-mission-container h1{
    animation: refresh 1s;
    font-size: inherit;

}

.starship-button, .upcoming-launch-button, .rewatch-button, .starship-lunar-button, 
.completed-mission-button{
    animation: refresh 1.7s;
}

@keyframes refresh {
    from{
        opacity: 0;
        transform: translateY(40px) ;
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

/*      Media Query        */

@media screen and (max-width: 980px){
    
    .nav-content1 div, .shop-animation{
        display: none;
    }

    .nav-main-container{
        justify-content: space-between;
    }
    
    .nav-content1{
        margin: auto;
        font-size: 4vmax;
        z-index: 5;
    }

    .nav-content2{
        font-size: 2.5vmax;
    }

    .menu-movil{
        display: flex;
    }


}

@media screen and (max-width:500px){

.starship-section, .upcoming-launch-section, .completed-mission-section, .recent-launch-section,
.starship-lunar-section{
    height: 31.7lh;
}

}
    